html {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	line-height: 1.15;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	background: #f8f8f8;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.ReactBurger--open {
	overflow-y: hidden;
}
